[submodule "themes/hyde"]
	path = themes/documentation
	url = "https://github.com/wowchemy/hugo-documentation-theme"
[submodule "themes/hyde"]
	path = themes/hyde
	url = "https://github.com/spf13/hyde"
[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book
[submodule "themes/documentation-theme"]
	path = themes/documentation-theme
	url = https://github.com/wowchemy/hugo-documentation-theme
[submodule "themes/shadocs"]
	path = themes/shadocs
	url = https://github.com/jgazeau/shadocs.git
